$mobile-breakpoint: 800px;


@mixin noise-overlay {
  position: relative;
  overflow: clip;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 999;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='5' stitchTiles='stitch'/%3E%3CfeSpecularLighting in='turbulence' lighting-color='%23ffffff' result='specularLighting' specularConstant='2' specularExponent='10' surfaceScale='25'%3E%3CfeDistantLight azimuth='5' elevation='200' /%3E%3C/feSpecularLighting%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
    mix-blend-mode: overlay;
    opacity: 25%;
    pointer-events: none;
  }
}


::selection {
  background-color: var(--lemon);
  color: var(--blackberry);
}


.text-color-lemonade {
  background-image: var(--lemonade-gradient);
  background-clip: text;
  color: transparent;
}
