$font-breakpoint: 500px;
$nav-breakpoint: 800px;

:root {

  --noise: url('/assets/images/noise.png');

  --font-size-4x: 248%;
  --font-size-3x: 207%;
  --font-size-2x: 172%;
  --font-size-xl: 144%;
  --font-size-large: 120%;
  --font-size-regular: 100%;
  --font-size-small:  83%;

}